<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <h2>Formulario</h2>
        <form id="formulario" action="/formulario" method="post">
            <div class="mb-3">
                <label for="moduloId" class="form-label">Módulo:</label>
                <select class="form-select" id="moduloId" name="moduloId" required>
                    <option value="">Selecciona un módulo</option>
                    <th:block th:each="modulo : ${modulos}">
                        <option th:value="${modulo.id}" th:text="${modulo.modulo}">
                        </option>
                    </th:block>
                </select>
            </div>

            <!-- Aquí se mostrarán los procesos según el módulo seleccionado -->
            <div class="mb-3" id="procesoDiv">
                <label for="procesoId" class="form-label">Proceso:</label>
                <select class="form-select" id="procesoId" name="procesoId" required>
                    <option value="">Selecciona un proceso</option>
                    <!-- Los procesos se llenarán con JavaScript según la selección del módulo -->
                </select>
            </div>

            <div class="mb-3" id="indicadorDiv">
                <label for="indicadorId" class="form-label">Indicador:</label>
                <select class="form-select" id="indicadorId" name="indicadorId" required>
                    <option value="">Selecciona un indicador</option>
                    <!-- Los procesos se llenarán con JavaScript según la selección del módulo -->
                </select>
            </div>

            <!-- Resto de los campos del formulario -->

            <button type="submit" class="btn btn-primary" name="submit2">Guardar</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById("moduloId").addEventListener("change", function () {
            var moduloId = this.value;
            var procesoSelect = document.getElementById("procesoId");

            
        

            if (moduloId !== "") {
                // Si se selecciona un módulo, realizar la solicitud AJAX
                fetch(`/procesosPorModulo?moduloId=${moduloId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Llenar el select con los datos obtenidos
                        procesoSelect.style.display = "block";
                        data.forEach(proceso => {
                            var option = document.createElement("option");
                            option.value = proceso.id;
                            option.text = proceso.nombreProceso;
                            procesoSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error(error));
            }
        });

        document.getElementById("procesoId").addEventListener("change", function () {
            var procesoId = this.value;
            var procesoSelect = document.getElementById("indicadorId");

        


            if (procesoId !== "") {
                // Si se selecciona un módulo, realizar la solicitud AJAX
                fetch(`/indicadorPorProceso?procesoId=${procesoId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Llenar el select con los datos obtenidos
                        procesoSelect.style.display = "block";
                        data.forEach(indicador => {
                            var option = document.createElement("option");
                            option.value = indicador.id;
                            option.text = indicador.indicador;
                            procesoSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error(error));
            }
        });

        // Resto de tu JavaScript para el formulario
    </script>
</body>

</html>