<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
      document.getElementById("moduloId").addEventListener("change", function () {
        var moduloId = this.value;
        var procesoSelect = document.getElementById("procesoId");

        // Ocultar los procesos si no se ha seleccionado un módulo
       

        if (moduloId !== "") {
            // Si se selecciona un módulo, realizar la solicitud AJAX
            fetch(`/procesosPorModulo?moduloId=${moduloId}`)
                .then(response => response.json())
                .then(data => {
                    // Llenar el select con los datos obtenidos
                    procesoSelect.style.display = "block";
                    data.forEach(proceso => {
                        var option = document.createElement("option");
                        option.value = proceso.id;
                        option.text = proceso.nombreProceso;
                        procesoSelect.appendChild(option);
                    });
                })
                .catch(error => console.error(error));
        }
    });
</script>
</html>